.ios,
.md {
    page-popup-info-window {
        $popover-ios-background: black;
        $popover-md-background: black;
        .popupWindow {
// background:rgba(0, 0, 0, 0.64);


        }
        
    }
    #title {
        text-align: center;
        font-size: 20px;
        width: auto;
        height: auto;
            border-bottom: 1px solid #d29d10;
    }
    #quantity {
        text-align: center;
        font-size: 20px;
        padding-top: 25px;
    }
    #perishable {
        padding-top: 12px;
        font-size: 22px;
        text-align: center;
        padding-bottom: 12px;
    }
    #volunteerButton {
        width: 100%;
    }
    .popover {
        background: rgba(0, 0, 0, 0.64);
    }
    .title {} .popover-content {
        color: white;
        background: rgba(0, 0, 0, 0.64);
        border-radius: 5px;
    }
    .popupContent {
        color: white;
        background: rgba(0, 0, 0, 0.44);
    }
    .button {
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
        padding-bottom: 0;
        background-color: #d29d10;
    }
    #spacer{
  padding-top:4px;
}
.popover-content{
  top: 264.5px;
    left: 50px !important;
    transform-origin: left top 0px;
    width: 20em;
    
  
}

    // .header{background:rgba(0, 0, 0, 0.64);}
}