.ios,
.md {
    page-home {
        $toolbar-background-ios: black;
        $popover-ios-background: black;
        $popover-md-background: black; //.ion-header {}
        .fixed-content {
            margin-top: 0px !important;
        }
        .toolbar-title {
            padding-left: 0;
        }
        .homeBackground {
            background: url("../../assets/img/pic6.jpg") no-repeat;
            text-align: center;
            position: relative;
            /* Full height */
            height: 100%;
            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .navBar {}
        .header-ios .toolbar-background-ios,
        .footer-ios .toolbar-background-ios {
            display: none;
            background: rgba(67, 137, 35, 0.62);
        }
        .header-md .toolbar-background-md,
        .footer-md .toolbar-background-md {
            display: none;
            background: rgba(67, 137, 35, 0.62);
        }
        .toolbar-title-md {
            text-align: center;
        }
        .titleImg {
            width: 4em;
        }
        .login-content {
            .logo-row {
                padding-top: 15px;
                padding-bottom: 15px;
            }
            .login-box {
                // // border-radius: 20px !important;
                // border: 2px solid #ffffff;
                padding: 20px 20px 0px 20px;
                margin-top: 30px;
            }
            h3 {
                color: white;
            }
            ion-row {
                align-items: center;
                text-align: center;
            }
            ion-item {
                border-radius: 30px !important;
                padding-left: 30px !important;
                font-size: 0.9em;
                margin-bottom: 10px;
                border: 1px solid #ffffff;
                border-bottom: 0px !important;
                box-shadow: none !important;
            }
            .signup-col {
                margin: 0px 16px 0px 16px;
                padding-bottom: 20px;
            }
            .item-inner {
                border-bottom-color: #ffffff !important;
                box-shadow: none !important;
            }
            .submit-btn {
                background: #97a831;
                border-radius: 30px !important;
                border: 1px solid #ffffff;
                width: 40%;
            }
            .register-btn {
                color: #ffffff;
                background: none;
                font-size: 0.8em;
            }
            img {
                width: 16em;
                border: 0;
                height: 100%;
                margin-top: -26px;
                max-height: 16em !important;
            }
            .homeoverlay {
                height: 100%;
                background: rgba(0, 0, 0, 0.17);
            }
            ion-header .header {
                background: rgba(0, 0, 0, 0.17);
            }
            ion-navbar.toolbar {
                background: rgba(0, 0, 0, 0.17);
            }
            .bar {
                background-image: none !important;
            }
            .toolbar {
                background: rgba(0, 0, 0, 0.17);
            }
            .toolbar-md {
                background: rgba(0, 0, 0, 0.17)!important;
            }
            .register-btn {
                color: #ffffff;
                background: #386513;
                font-size: 0.8em;
                border: 1px solid #ffffff;
                border-radius: 35px;
            }
            .bar-button-default {
                color: black;
            }
            .spacer {
                padding-top: 15px;
            }
            .scroll-content{
              background:none;
            }
        }
    }
}