.ios, .md{


  page-signup-type {

    .toolbar-background{
    background: color($colors,greener)
    }

    $toolbar-ios-title-text-color: danger;
    $toolbar-ios-title-text-color: color($colors, light);

    .button-inner{
      padding: 15px;
    }


  }


}
