.ios, .md{


  page-signup-type {

    $toolbar-background-ios:black;
    $popover-ios-background: black;
    $popover-md-background:	black;

    //.ion-header {}

    .fixed-content{margin-top:0px !important;}

    .toolbar-title{padding-left:0;}

    .header{
    background:rgba(0, 0, 0, 0.42);border-bottom: 3px solid #d29d10 !important;    border-radius: 2px;
    }
    .navBar{}

    .header-ios .toolbar-background-ios, .footer-ios .toolbar-background-ios{display:none;background: rgba(67, 137, 35, 0.62);}

    .header-md .toolbar-background-md, .footer-md .toolbar-background-md{display:none;background: rgba(67, 137, 35, 0.62);}
    .toolbar-title-md{text-align: center;}

    .titleImg{    width: 4em;}


 .signupTypeBackground {
            background: url("/assets/img/pic7.jpg") no-repeat;
            text-align: center;
            position: relative;
            /* Full height */
            height: 100%;
            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
                color: aliceblue;
        }
.scroll-content {
    background: rgba(67, 137, 35, 0.18);
}

  }


}
