.ios,
.md {
    page-signup {
        .button {
            width: 100%;
            border: 1px solid black;
        }
        .button-clear {
            color: black;
        }
        .submit-btn {
            height: 100px;
        }
        .spacer {
            padding-top: 15px;
        }
        .scroll-content {
                margin-top: 56px;
            border: 2px solid #d29d10;
        }
        .titleImg {
            width: 4em;
            margin-top: -11px;
        }
    }
}