.ios,
.md {
    page-signup {
        .button {
            width: 100%;
            border: 1px solid black;
        }
        .button-clear {
            color: black;
        }
        .submit-btn {
            height: 100px;
        }
        .spacer {
            padding-top: 15px;
        }
        .scroll-content{
          border: 2px solid #d29d10;
        }
        .titleImg{
          
        }
    }
}